@import "tailwindcss";



@layer components {
    .heading{
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.25;
        margin:4px;
        padding:4px;
        text-align: center;
    }
}